*{
	margin: 0;
	padding: 0;
}
.text{
	width: 500px;
	height: 500px;
	margin: auto;

}
.box{
	width: 150px;
	height: 150px;
	background: orange;
	margin-left: 2.5%;
	margin-top: 2.5%;
	float: left;
	border-radius: 20px;

}
