*{
	margin: 0;
	padding: 0;
}

.fa{
	width: 100%;

}
.header{
	height: 100px;
	background:#29bde0 ;
}
.header img{
	padding-top: 40px;
	padding-left: 20px;
}
.content{
	background:#f0f0f0 ;
	padding-top: 80px;
	padding-bottom: 80px;
}

.guesstext{
	height: 130px;
	background: #FFFFFF;
	border: 1px solid #c9c9c9;
	margin-left: 80px;
	margin-right: 80px;
}
.guesstext P{
	font-size: 35PX;
	color: #9a9a9a;
	text-align: center;
	line-height: 110px;
}
.guesstext img{
	float: right;
	margin-top: -73px;
	margin-right: 20px;
 }
 .among{
 	border: 1px solid #c9c9c9;
 	margin-left: 80px;
	margin-right: 80px;
	margin-top: 50px;
	margin-bottom: 50px;
	background: #FFFFFF;
 }
.hold{
	border: none;
	background: white;
	height: 100px;
	width: 100%;
	font-size: 38px;
	border-bottom: 2px solid #fbb435;
	text-align: center;
	line-height: 80px;
	color: #fbb435;
}
.simple{
	border: none;
	background: white;
	width: 70%;
	height: 140px;
	font-size: 32px;
	color: #FFFFFF;
	background: #69d1e9;
	margin-left: 15%;
	margin-top: 50px;
	text-align: center;
	line-height: 120px;
	letter-spacing: 5px;
}
.user{
	border: none;
	background: white;
	width: 70%;
	font-size: 24px;
	margin-left: 15%;
	text-align: center;
	height: 120px;
	line-height: 120px;
}
.word{
	border: none;
	background: white;
	width: 70%;
	height: 140px;
	font-size: 32px;
	color: #FFFFFF;
	background: #69d1e9;
	margin: 0px 50px 0 50px;
	margin-left: 15%;
	text-align: center;
	line-height: 120px;
	letter-spacing: 5px;
}
.denote{
	border: none;
	background: white;
	float: right;
	margin-top: 60px;
	margin-right: 10px;
}

.idiot{
	border: none;
	background: white;
	width: 70%;
	height: 140px;
	font-size: 32px;
	color: #FFFFFF;
	background: #69d1e9;
	margin-left: 15%;
	/*margin-top: 50px;*/
	text-align: center;
	line-height: 120px;
	letter-spacing: 5px;
}

.rump{
	text-align: center;
	margin-bottom: 10px;
}
.slide{
	position: relative;
}

.slide .carousel-indicators li{
		bottom:-20px;
	background: #E3E3E3;
}
.slide .carousel-indicators .active{
	background: orange;
}
@media only screen and (min-width: 768px)  {
	.carousel-indicators{
		bottom:-15px!important;
	}
}


