* {
    margin: 0;
    padding: 0;
}
.hender{
    height:12.5vw ;
    background:#5fc0cd;
    position: relative;
    font-size: 4.72vw;
}
.hirer{
    width: 39.58vw;
    height: 7.72vw;
    background: #55a8b3;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 7.72vw;
    position: absolute;
    top: 2.39vw;
    left: 30.21vw;
}
.worker{
    width: 19.79vw;
    height: 7.72vw;
    background: white;
    border-radius: 10px;
    color: #5fc0cd;
    text-align: center;
    line-height: 7.72vw;
    float: right;
}
.sign{
    width:5.97vw ;
    height: 6.25vw;
    float: right;
    margin-right: 4.16vw;
    margin-top:3.23vw ;
}
.news{
    height: 11.11vw;
    border:0.2vw solid #e1e5e7;
}
.news .option{
    width: 1.8vw;
    height: 1.11vw;
}
.news .seat{
    font-size: 3.61vw;
    float: left;
    margin-left: 9.44vw;
    line-height: 11.11vw;
    color: #b3b3b3;
}
.news .option1{
    float: left;
    margin-left: 9vw;
    margin-top: 5vw;
}
.news .case1{
    width: 1px;
    height: 4.58vw;
    background: #e2e6e7;
    float: left;
    margin-top:3.26vw ;
    margin-left: 1.38vw;
}
.news .food{
    float: left;
    font-size: 3.61vw;
    margin-left: 12.08vw;
    line-height: 11.11vw;
    color: #b3b3b3;
}
.news .option2{
    float: left;
    margin-left: 10.41vw;
    margin-top: 5vw;
}
.news .case2{
    width: 1px;
    height: 4.58vw;
    background: #e2e6e7;
    float: left;
    margin-top:3.26vw ;
    margin-left: 1.38vw;
}
.news .sick{
    float: left;
    font-size: 3.61vw;
    margin-left: 6.94vw;
    line-height: 11.11vw;
    color: #b3b3b3;
}
.news .option3{
    float: left;
    margin-left: 5vw;
    margin-top: 5vw;
}
.time{
    width:100vw;
    height:29vw;
    border-bottom:0.2vw solid #e1e5e7;
    position:relative;
}
.time .calen{
    width:4.38vw;
    height:3.8vw;
    position: absolute;
    top: 4.16vw;
    left: 4.16vw;
}
.time .date{
    font-size: 3.33vw;
    position: absolute;
    top: 3.8vw;
    left: 10.16vw;
    color: #b3b3b3;
}
.time .hour{
    font-size: 3.33vw;
    position: absolute;
    top: 10.8vw;
    left: 10.16vw;
}
.time .price{
    font-size: 3.61vw;
    position: absolute;
    top: 10.8vw;
    right: 12.16vw;
    color: #e63b0e;
}
.time .opt{
    width: 2.77vw;
    height: 4.72vw;
    position: absolute;
    top: 10.8vw;
    right: 5.5vw;
}
.time .local{
    width: 3vw;
    height: 3.3vw;
    position: absolute;
    top: 19.16vw;
    left: 5.16vw;
}
.time .soil{
    font-size: 3.33vw;
    position: absolute;
    top: 18.16vw;
    left: 10.16vw;
    color: #b3b3b3;
}
.table{
    width:100vw;
    height:13.88vw;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background:#f8fafb;
}
.table .ble{
    position: relative;
}
.table .home{
    width:6.94vw ;
    height:6.11vw ;
    position: absolute;
    top: 1.8vw;
    left:22.9vw;
}
.table .page{
    font-size: 2.91vw;
    position: absolute;
    top:8.8vw ;
    left:23.4vw ;
}
.table .write{
    width:13.88vw;
    height:13.88vw;
    position: absolute;
    left:43vw ;
}
.ble .peo{
    width: 5.97vw;
    height: 5.97vw;
    position: absolute;
    top: 1.8vw;
    right:22.9vw ;
}
.ble .my{
    font-size: 2.91vw;
    position: absolute;
    top:8.8vw ;
    right:23vw ;
    color: #b3b3b3;
}