<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
     minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../style/js-5%20entry.css" type="text/css">


    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.js"></script>-->
    <!--<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>-->
</head>
<body>

      <!--<div class="header">-->
          <!--<div class="core ng-app">-->
              <!--<img src="../../img/login-logo.png" alt="" class="radish">-->
              <!--<div class="form-group">-->
                  <!--<img src="../../img/user1.png" alt="" class="user">-->
                  <!--<input type="text" placeholder="请输入用户名" class="name">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                  <!--<img src="../../img/password.png" alt="" class="word">-->
                  <!--<input type="text" placeholder="请输入密码" class="password">-->
              <!--</div>-->
              <!--<input type="text" id="hint" value=" ">-->
              <!--<button type="submit" class="btn btn-default entry from-control">登录 </button>-->
           <!--</div>-->
      <!--</div>-->

      <main class="main">
          <p>后台登录</p>
          <form action="">
              <div class="content">
                  <img src="../../img/user1.png" alt="">
                  <span></span>
                  <input type="text" id="name" placeholder="用户名" onchange="user()" min="5" max="20" maxlength="20">
              </div>

              <div class="content">
                  <img src="../../img/password.png" alt="">
                  <span></span>
                  <input type="password" id="name-pwd" placeholder="密码"  min="5" max="20" maxlength="20">
              </div>
              <div class="error" id="error"></div>
              <button type="button" onclick="login()">登录</button>
          </form>
      </main>

      <script src="../../bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
      <script src="../script/js-5 entry.js"></script>
</body>
</html>