*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
.header{
    background: url("../../img/login-bg.png")no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
}
.core{
   width: 40%;
    height: 40%;
    background:ghostwhite;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 30%;

}
.core .radish{
    border-radius: 50%;
   position: absolute;
   left: 43%;
    top: -35px;
}
.name{
    width: 60%;
    height: 30px;
    margin-top:68px;
    margin-left: 20%;
    padding-left: 30px;
    position: relative;
    border-radius: 5px;
    outline: orange;
    border: 1px solid #cccccc;
}
.user{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20%;
    top:23%;
    z-index: 2;
}
.password{
    width: 60%;
    height: 30px;
    margin-left: 20%;
    padding-left: 30px;
    position: relative;
    border-radius: 5px;
    outline: orange;
    border: 1px solid #cccccc;
}
.word{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20%;
    top:38%;
    z-index: 2;
}
.entry{

    width: 60%;
    height: 30px;
    margin-left: 20%;
    background: orange;
    color: white;
    margin-top: 20px;
    border: none;
    outline: none;
}
.entry:active,.entry:focus,.entry:hover{
    background: orange!important;
}
/*.entry:hover{*/
    /*color: white;*/
    /*background: orange!important;*/
/*}*/
.entry.blur{

}